(
    rules: [
        (
            name: "Empty File",
            tags: [
                Always,
                Custom("Test::EmptyFile"),
            ],
            enabled: false,
            locations: [
                RecursiveWithMaxDepth(
                    path: "crates\\organize-rs_core\\tests\\fixtures\\filters\\empty_file",
                    max_depth: 1,
                    target: Files,
                ),
            ],
            filters: [
                (
                    apply: Apply,
                    mode: All,
                    filters: [
                        empty,
                    ],
                ),
            ],
            actions: [
                Preview(trash),
            ],
        ),
        (
            name: "Empty Directory",
            tags: [
                Always,
                Custom("Test::EmptyDirectory"),
            ],
            enabled: false,
            locations: [
                RecursiveWithMaxDepth(
                    path: "crates\\organize-rs_core\\tests\\fixtures\\filters\\empty_folder",
                    max_depth: 1,
                    target: Directories,
                ),
            ],
            filters: [
                (
                    apply: Apply,
                    mode: All,
                    filters: [
                        empty,
                    ],
                ),
            ],
            actions: [
                Preview(trash),
            ],
        ),
    ],
)